ol li ol li {
    list-style-type: lower-alpha;
}

code::before,
code::after {
    display: none;
}

.prose table {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.prose iframe {
    max-width: 100%;
}